#header {
	font-family: Arvo;
	text-align: center;
	font-size: 41px;
    padding: 5px;
	color: white;
	    text-shadow:
	    +2px +2px 0 #000,
	    2px -2px 0 #000,
	    -2px -2px 0 #000,
	    2px 2px 0 #000;
}

#header1{
	margin: left;
	position: fixed;
	    left: 10px;
	    top: 40px;
	font-family: Arvo;
	font-size: 10px;
	line-height: 14px;
	text-align: left;
	padding: 10px;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
}


#nav {
	margin: left;
	position: fixed;
	    left: 10px;
	    top: 175px;
	font-family: Arvo;
	height: 440px;
    width: 290px;
	line-height: 20px;
	font-size: 16px;
	text-align: left;
	color: black;
	padding: 10px;
	list-style: none;
	border-right: solid 2px black;
    
}

#nav, a {
	text-decoration: none;	
}

#nav a:link a:visited {
	color: black;
}


#nav :hover { 					/*  change of object when mouse over */
	font-family: Arvo;
	font-style: italic;
	font-size: 73px;
	text-decoration: none;
	line-height: 90px;
	padding: 20px;
	position: fixed;
	    left: 250px;
	    top: 200px;
	color: white;
	    text-shadow:
	    -10px -10px 0 #000,
	    1px -1px 0 #000,
	    -9px 9px 0 #000,
	    +4px -4px 0 #000,
		+14px -14px 0 #000,
		+6px +6px 0 #000,
		-4px -4px 0 #000;
}


#abstract, #motivation, #intro, #word,
#definition, #rewind, #failure, #tention,
#symmetry, #space, #round, #hands, #techy,
#spotless, #city, #eat, #glitch, #perfect, #now
 {
    font-family: Arvo;
	font-size: 17px;
	color: black;
	text-align: justify;
    width: 600px;
	padding-left: 340px;
	padding-right: 5px;
}

a img {
	border: none;
}

#images {
	font-family: Arvo;
	font-size: 12px;
	font-style: italic;
	color: black;
	text-align: left;
	position: absolute;
	    left: 970px;
	    top: 200px;
		padding-left: 20px;
		border: none;
}


#pisa:hover {
    content: url(iMAGE/1pisa.jpg);
}









#footer {
	font-family: Arvo;
	font-size: 10px;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
}

/*
#motivation
#intro
#word
#definition
#rewind
#failure
#tention
#symmetry
#space
#round
#hands
#techy
#spotless
#city
#glitch
#perfect
#now
*/








/* for comments in css 


div {
    height: 50px;
    width: 120px;
    border-color: #6495ED;
    background-color: #BCD2EE;
    border-style: dashed;
    border-width: 2px;
    border-radius: 5px;				- makes the shape round.
	margin: auto;					- centers the shape on page
    text-align: center;				- cernters text within the box
}

*{ } 		- selector for each element.

html - class="one"		- define several things at once.
css - .one {}

html - id="second"		- define one specific thing.
css - #second

css:
a:link: 	- An unvisited link.
a:visited:  - A visited link.
a:hover:	- A link you're hovering your 

*/