head {
	font-family: Arvo;
}

h1 {
	font-family: Arvo;		
	/* you can add others wuith comma, it takes the first one it can find. */
	font-size: 20px;
	/* can use em instead of px too to make it the relecant value depending on the device */
	color: #3D96F9;
	text-align: center;
}

h3 {
	font-family: Arvo;
	font-size: 15px;
	color: black;
	text-align: center;
}

table {
	font-family: Arvo;
	font-size: 18px;
	text-align: left;
	background-color: #1AFFBD;
}


p1 {
	font-family: Arvo;
	font-size: 15px;
	color: black;
}


/* for comments in css */